# Dont forget to use the following command to load the environment variables:
    # from dotenv import load_dotenv
    # load_dotenv()

# Passwords:
    # Email Credentials
        EMAIL_ADDRESS='your email address'
        EMAIL_PASSWORD='your password'
